@keyframes openPage {
  from {
    margin-top: 100vh;

  } to {
    margin-top: 0%;

  }
}

.activity-wrapper {
  width: 100vw;
  height: 100vh;
  animation: openPage ease 3s forwards;
}

.video-player {
  margin-top: 2rem;
  width: 100vw;
  overflow: none;
}

.exercise-list {
  width: 100vw;
  margin-top: 16px;
  height: calc(100vh - 2rem);
  
}

.exercise {
  height: 10rem;
  width: 100%;
  text-align: left;
  color: black;
  
  & > h3 {
    position: relative;
    margin-top: -6rem;
  }
  
}



.progress {
  background: yellow;
  height: 10rem;
  transition: 1s ease;
  z-index: 1;
  display: inline-block;
}

.rest {
  background: gray;
}
